.App {
  height: 100vh;
  padding-top: 10px;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Mostruo.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 50% 0%;
}

.calculator-container {
  margin-top: 30vh;;
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: transparent;
  border-radius: 20px;
}

.row {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}